{
	"folder_id": "1234567890cc40vndnc3",
	"source_image_type": "ubuntu-1604-lts",
	"key_path": "packer/key.json.example",
	"subnet_id": "1234567890cc40vndnc3",
	"username": "defaultuser",
	"key": "key.json.example",
	"folder_id": "1234567890cc40vndnc3",
	"image": "ubuntu-1604-lts"
}
